<ion-header>
  <ion-toolbar>
    <ion-title>
      Your phonebook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Enter name" [(ngModel)]="inputName"></ion-input>
  <ion-input placeholder="Enter number" [(ngModel)]="inputNumber"></ion-input>
  <ion-button (click)="createRecord()">+ Create new contact</ion-button>
  <ion-searchbar  [(ngModel)]="inputSearch" (input)="updateSearchResults($event)" ></ion-searchbar>
  <ion-list>
        <ion-item *ngFor="let record of phoneRecord">
          <ion-label>{{record.username}}</ion-label><ion-label>{{record.number}}</ion-label>
          <ion-button (click)=" presentConfirm(record.username,record.number)">Edit</ion-button>
          <ion-button color='danger' (click)="removeRecord(record.username)">Delete</ion-button>
</ion-item>
</ion-list>
</ion-content>
